<div class="row">
  <div class="columns">
    <p style="margin: 50px 0;" class="colored-links">You don't have any products yet. <a target="_blank" href="{{ shop.url }}/admin/products/">Go and add some in and then reload this page</a>.</p>
  </div>
</div>