<h2 class="title clearfix">
    <a href="/" title="{{ shop.name }}">
    	<img src="https://cdn.shopify.com/s/files/1/0653/1555/files/logo-retina.png?8566939543515879276" alt="{{ shop.name }}" > 
    </a>
</h2>