<h2 class="title clearfix" role="banner">
  {% if settings.checkout_use_logo_image %}
    <a href="/" role="banner" title="{{ shop.name }}">
    	<img src="//cdn.shopify.com/s/files/1/0653/1555/t/9/assets/logo-retina.png?14612850393469007096" alt="{{ shop.name }}" style="width: 140px;"> 
    </a>
  {% else %}
    <a href="/">{{ shop.name }}</a>
  {% endif %}
</h2>