 <div class="cart">
 	<div class="show-for-medium-up">
	  
		<div class="recently-added">
		  <table width="100%">
			  <thead>
			    <tr>
			      <td colspan="3">Recently Added</td>
			    </tr>
			  </thead>
			  
			  <tbody>
					

			  </tbody>

			  <tfoot>
			    <tr>
						<td class="items-count"><a href="/cart"><span class="number">{{ cart.item_count }}</span> Items</a></td>
						<td colspan="2" class="text-right"><strong>TOTAL <span class="total-price" style="margin-left:5px;">{{ cart.total_price | money }}</span></strong></td>
			    </tr>
			  </tfoot>
			  
			</table>

			<div class="row"> 
			  <div class="checkout columns">
			    <a class="button" href="/cart">Go to Checkout</a>
			  </div><!-- #cart-meta -->
			</div>

			<div class="error">
			  <p>The item you just added is unavailable. Please select another product or variant.</p>
			</div>

		</div>
	</div>

	<div class="show-for-small hide-for-ie9-down">
		<div class="recently-added-mask hide"></div>
		<div class="recently-added mobile">
			<a aria-hidden="true" class="close glyph cross"></a>
			<div class="row">
				<div class="columns">
					<p><strong>RECENTLY ADDED</strong></p>
					<p class="mobile-item"></p>
					<p class="items-count"><a href="/cart"><span class="number">{{ cart.item_count }}</span> Items</a></p>
					<p><strong>TOTAL <span class="total-price" style="margin-left:5px;">{{ cart.total_price | money }}</span></strong></p>
				</div>
			</div>
			<div class="row">
			  <div class="checkout columns">
			    <a class="button" href="/cart">Go to Checkout</a>
			  </div><!-- #cart-meta -->
			</div>
			<div class="error">
			  <p>The item you just added is unavailable. Please select another product or variant.</p>
			</div>
		</div>
	</div>
</div