{% paginate collections by 100 %}

<header class="row">
  <div class="left">
      <h1>Our brands</h1>
  </div>
</header>


<div class="row">
  {% assign count = 0 %}
  <div class="collections-grid clearfix">
    {% for link in linklists.all-collections.links %}
    {% assign collection = link.object %}
      {% unless collection.handle == 'all' or collection.handle == 'all-products' or collection.handle == 'frontpage' %}
        {% include 'snippet-collection-item' %}
        {% assign count = count | plus: 1 %}
      {% endunless %}
    {% endfor %}
  </div>
</div>

{% if paginate.pages > 1 %}
  <footer class="row">
    <div class="right columns large-6">
      {% include 'snippet-pagination' %}
    </div>
  </footer>
{% endif %}

{% endpaginate %}