{% paginate collections by 100 %}

<header class="row">
  <div class="left columns large-6">
    {% if snippet-collection-listing == '' or template == 'list-collections' %}
      <h1 class="page-title">Collections</h1>
    {% else %}
      <h1 class="page-title">{{ linklists[snippet-collection-listing].title }}</h1>
    {% endif %}
  </div>
</header>


<div class="row">
  {% assign count = 0 %}
  <div class="collections-grid clearfix">
    {% for link in linklists.all-collections.links %}
    {% assign collection = link.object %}
      {% unless collection.handle == 'all' or collection.handle == 'all-products' or collection.handle == 'frontpage' %}
        {% include 'snippet-collection-item' %}
        {% assign count = count | plus: 1 %}
      {% endunless %}
    {% endfor %}
  </div>
  {% if count == 0 %}
    <div class="add-first-collection" class="clearfix">
        <p>There are no collections in your store besides your Frontpage collection.</p>
        <a class="button" href="/admin/collections">Create a collection</a>
    </div><!-- #add-first-collection-->
  {% endif %}
</div>

{% if paginate.pages > 1 %}
  <footer class="row">
    <div class="right columns large-6">
      {% include 'snippet-pagination' %}
    </div>
  </footer>
{% endif %}

{% endpaginate %}