<div class="row full-width">
  <div class="columns">
    <div class="page-content">
      <div class="rte-content colored-links">
        <div class="spritespin wide-aspect-image" style="width: 100% !important;"></div>
        <script type="text/javascript">
        $('.spritespin').spritespin({
        source: SpriteSpin.sourceArray('http://cdn.shopify.com/s/files/1/0730/5135/t/4/assets/rad_zoom_{frame}.png', { frame: [1,34], digits: 3 }),
        width: 240,
        height: 164,
        sense: -1,
        mods: ['move', 'zoom', '360'],
        behavior: 'drag',
        module: 'panorama',
        animate: false,
        reverse: true
        });
        </script>
      </div>
    </div>
  </div>
</div>