<div class="row full-width">
  <div class="columns">

    <div class="page-content">

     <div class="rte-content colored-links">

    <div class="threesixty" style="width: 100% !important;" data-path="http://cdn.shopify.com/s/files/1/0730/5135/t/4/assets/rad_zoom_{index}.png" data-count="34"></div>

    <script type="text/javascript">
    $(document).ready(function(){
    $('.threesixty').threeSixty({
        dragDirection: 'horizontal'
    });
});
    </script>

    </div>
  </div>

</div>
</div>