<div class="large-12">
  <img src="http://placehold.it/1400x500">
</div>
<div class="row full-width">
  <div class="columns">
    
    <div class="page-content">
    	{% if settings.pages-breadcrumb-show %}
      	{% include 'snippet-breadcrumbs' %}
      {% endif %}
      <h1 class="page-title">{{ page.title }}</h1>
      <div class="rte-content colored-links">
	      <h1>HELLO</h1>
        {{ page.content }}
	    </div>
    </div>

  </div>
</div>