<!--HERO BLOCK-->
<div class="full-width large-12 map">
  <img src="https://cdn.shopify.com/s/files/1/0653/1555/files/lvbt-world-map.png?7114982426378179913">
  <div class="caption">
    <h1 class="title">Unique jewellery &amp; accessories</h1>
    <h1 class="subtitle">from around the world</h1>
    <h1 class="title">Just for you</h1>
  </div>
</div>


<!--INTRO BLOCK-->
<div class="full-width row large-12 about-intro">
  <div class="push-2 large-8">
    <p>Some obsessions start at an early age and the story of how LVBT has grown into what it is today illustrates how an idea can blossom. From a childhood filled with travel and adventure around the world, to stints on the small-screen and on the pages of glossy magazines, Mrs Taryn Courland-Bergman was always destined to make her mark on a global scale.</p>
  </div>
  <div class="push-1 large-10 img-block">
    <div class="columns large-6">
      <img src="https://cdn.shopify.com/s/files/1/0730/5135/files/About-Us-Intro-image-1_05.jpg?4392996269064560760">
    </div>
    <div class="columns large-6">
      <img src="https://cdn.shopify.com/s/files/1/0730/5135/files/About-Us-Intro-image-1_03.jpg?4392996269064560760">
    </div>
  </div>
  <div class="push-2 large-8">
    <p>LVBT operates to one simple rule; to bring you unique jewellery and accessories from around the world, in one easy to shop experience. Everything that we sell is <strong>l</strong>o<strong>v</strong>ed <strong>b</strong>y <strong>T</strong>aryn, brought to you because it offers something unique, something different, but ultimately something beautiful.</p>
  </div>
</div>


<!--EVERYDAY EXCLUSIVITY BLOCK-->
<div class="full-width row large-12 about-everyday">
  <div class="push-2 large-8">
    <h2>Everyday exclusivity</h2>
    <p>The old world of style and sophistication being reserved for a select few is dead. Welcome to the new age, a world without boundaries and limitations. At LVBT you’ll find collections and pieces to suit all purse strings, whether it’s a intimate birthday gift or personal indulgence, we promise that you’ll have access to standout designs from around the world, without an over inflated price tag.</p>
  </div>
</div>
<div class="module parallax parallax-1"></div>


<!--GLOBAL APPEAL BLOCK-->
<div class="full-width row large-12 about-global">
  <div class="push-2 large-8">
    <h2>Global appeal</h2>
    <p>From the back garden, to the back of beyond. There is a world of unique jewellery and accessories just waiting to be discovered. Our mission is to bring you the most exciting brands out there, whether it’s fresh out of collage designers or established names, we strive to offer the most diverse collection possible.</p>
    <p>Here are just a few of our favourites to date;</p>
  </div>
  <div class="brand-block">
    <div class="columns large-3">
      <a href="/collections/miss-lesley">
        <figure class="global-brands sunburst">
          <img src="https://cdn.shopify.com/s/files/1/0653/1555/files/miss-lesley-aboutus.jpg?11990365220426592809" alt="Miss Lesley, born in South Africa at LVBT" />
          <figcaption>
            <h2>Miss Lesley</h2>
            <p>BORN IN SOUTH AFRICA</p>
            <span class="fa fa-heart-o"></span>
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="columns large-3">
      <a href="/collections/lyla-bo">
        <figure class="global-brands sunburst">
          <img src="https://cdn.shopify.com/s/files/1/0653/1555/files/lyla_and_bo-aboutus.jpg?11990365220426592809" alt="LYLA &amp; Bo, born in Australia at LVBT" />
          <figcaption>
            <h2>LYLA&amp;BO</h2>
            <p>BORN IN AUSTRALIA</p>
            <span class="fa fa-heart-o"></span>
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="columns large-3">
      <a href="/collections/mya-bay">
        <figure class="global-brands sunburst">
          <img src="https://cdn.shopify.com/s/files/1/0653/1555/files/mya-bay-aboutus.jpg?11990365220426592809" alt="MYA BAY, born in Belgium at LVBT" />
          <figcaption>
            <h2>MYA BAY</h2>
            <p>BORN IN BELGIUM</p>
            <span class="fa fa-heart-o"></span>
          </figcaption>
        </figure>
      </a>
    </div>
    <div class="columns large-3">
      <a href="/collections/ashiana">
        <figure class="global-brands sunburst">
          <img src="https://cdn.shopify.com/s/files/1/0653/1555/files/ashiana-aw15-aboutus.jpg?11990365220426592809" alt="Ashiana, born in United Kingdom at LVBT" />
          <figcaption>
            <h2>Ashiana</h2>
            <p>BORN IN THE UK</p>
            <span class="fa fa-heart-o"></span>
          </figcaption>
        </figure>
      </a>
    </div>
  </div>
</div>


<!--SHOPPING WITH PERSONALITY BLOCK-->
<div class="stripe"></div>
  <div class="full-width row large-12 about-personality">
    <div class="columns push-2 large-4">
      <h2>Shopping with personality</h2>
      <p>We live in a world more connected than ever before, but a world where it’s easy to forget the stories behind the things we buy.</p>
      <p>We are here to deliver the personal side of shopping; from exclusive behind the scenes content, to helpful information and advice - where we promise to do more than sell, sell, sell. That’s why you’ll find <a href="/blogs/news">the LVBT blog</a> is the perfect place to immerse yourself in the latest trends update or keep on top of our latest brand discovery.</p>
    </div>
    <div class="columns push-3 large-3">
      <img src="https://cdn.shopify.com/s/files/1/0730/5135/files/iPhone-6-Gold.png?11148044211994467454">
    </div>
  </div>
<div class="stripe"></div>

<!--THE POWER OF CHOICE BLOCK-->
<div class="full-width row large-12 about-power">
  <div class="push-2 large-8">
    <h2>The power of choice</h2>
    <p>We are proud of the diversity throughout LVBT and every single product we range is a window into our personality, but more importantly it allows you to express your own personality.</p>
    <p>At LVBT you’ll find year-round staple pieces, together with a constantly changing range of exciting brands to suit all manor of tastes. What you won’t find though is the LVBT view of the world, and that view only. We’re here to open your eyes to some fascinating discoveries, the rest is up to you. After all it’s yours to cherish and adore, not ours.</p>
  </div>
  <div class="columns push-2 large-2 lvbt-choice">
    <img src="https://cdn.shopify.com/s/files/1/0730/5135/files/calendar_copy.svg?4713764962635835390">
    <h4>Key essentials available all year-round</h4>
  </div>
  <div class="columns push-3 large-2 lvbt-choice">
    <img src="https://cdn.shopify.com/s/files/1/0653/1555/files/new-tag_copy.svg?222249396874771842 ">
    <h4>fresh new collections launched on a regular basis</h4>
  </div>
  <div class="columns push-4 large-2 lvbt-choice">
    <img src="https://cdn.shopify.com/s/files/1/0730/5135/files/speech-bubble_copy.svg?8609198299704646938">
    <h4>with customer feedback and interest informing all we do</h4>
  </div>
</div>

<div class="about-sign-off">
  <h2>Find style you'll love.</h2>
  <a href="/collections/all" class="button">Shop LVBT</a>
</div>

<div class="row full-width">
  <div class="columns">
    <div class="page-content">
      <div class="">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>