<div class="row full-width">
  <div class="columns">
    <div class="page-content">
      <div style="margin-left: auto; margin-right: auto; text-align: center;" class="large-8">
        <h1 class="page-title">{{ page.title }}</h1>
        <div class="rte-content colored-links" style="font-size: 1.2em;">
          {{ page.content }}
        </div>
        <div class="introduce">
          <div class="columns large-6">
            <h2>Invite your friends</h2>
            <img src="https://cdn.shopify.com/s/files/1/0730/5135/files/invitation.svg" width="100px" style="padding-bottom: 12px;">
            <p>Invite as many friends as you like to LVBT, giving them instant access to the latest trends and must have styles. Plus, they get <strong>10% off</strong> their first order.</p>
          </div>
          <div class="columns large-6">
            <h2>Collect your reward</h2>
            <img src="https://cdn.shopify.com/s/files/1/0730/5135/files/money.svg" width="100px" style="padding-bottom: 12px;">
            <p>Whenever a friend you referred buys, we'll give you <strong>&pound;5 credit</strong> to spend, meaning you could have a new jewellery collection in no time!</p>
          </div>
        </div>
        <div class="" style="text-align: left;padding-top: 12px;margin-top: 12px;border-top: 1px solid;">
          <h3>The legal bit&hellip;</h3>
          <ol>
            <li>Invited friends must purchase something from LVBT to the value of &pound;10 or greater before the introducer becomes eligible for their reward.</li>
            <li>LVBT will review each referal order, and within 5 days of an order being approved the introducer will be sent a &pound;5 credit in the form of an LVBT online voucher.</li>
            <li>You can't recommend yourself!</li>
            <li>Please check that your friend is happy to hear about this offer from LVBT.</li>
            <li>LVBT will withhold rewards if we reasonably suspect fraudulent activity.</li>
            <li>LVBT reserve the right to withdraw this offer at anytime, and without prior notice.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>