<div class="widgets flash-sale header">
  <div class="row">
    <div class="columns large-12">
      <h2>Beautiful necklaces</h2>
      <h3>sourced from around the world, just for you</h3>
    </div>
  </div>
</div>

<div class="announcement">
  <div class="large-12">
    <div class="columns large-4">
      <p>Worldwide shipping <i class="fa fa-globe"></i></p>
    </div>
    <div class="columns large-4">
      <p>UK Customer Service <i class="fa fa-comments-o"></i></p>
    </div>
    <div class="columns large-4">
      <p>Free UK delivery over £45 <i class="fa fa-truck fa-flip-horizontal"></i></p>
    </div>
  </div>
</div>

<div class="highlights full-width row">
  <div class="large-8 push-2 welcome">
    <p>From <strong>statement necklaces</strong> to delicate <strong>chains and pendants</strong>, you can count on LVBT to fulfil all of your jewellery needs and offer you something totally unique. Above all we promise that you’ll have access to standout designs from around the world, without having to break the bank.</p>
    <p>Everything you see is loving sourced by our team, who live and breathe fashion and jewellery. We stock hidden gems from small boutique brands like <strong>Miss Lesley</strong>, brought to you all the way from South Africa - alongside brands like <strong>Bisjoux from New York</strong>, where you're guaranteed to make a statement wearing one of their pieces.</p>
  </div>
  
  <div class="columns large-3">
    <figure class="image-text-widget box effect-black-fill">
      <a href="/collections/necklaces-charms-chokers/colour-gold">
        <img src="https://cdn.shopify.com/s/files/1/0653/1555/files/gold-necklaces.jpg?12426752674339903272" />
        <div class="mjbtitle">
          <figcaption class="inner">
            <h1>Gold<span aria-hidden="true" class="glyph slider-right"></span></h1>
          </figcaption>
        </div>
      </a>
    </figure>
  </div>

  <div class="columns large-3">
    <figure class="image-text-widget box effect-black-fill">
      <a href="/collections/necklaces-charms-chokers/colour-silver">
        <img src="http://cdn.shopify.com/s/files/1/0653/1555/products/Kendall_Silver_Lifestyle_large.JPG?v=1445811561" alt="Silver Necklaces" />
        <div class="mjbtitle">
          <div class="inner">
            <h1>Silver<span aria-hidden="true" class="glyph slider-right"></span></h1>
          </div>
        </div>
      </a>
    </figure>
  </div>

  <div class="columns large-3">
    <figure class="image-text-widget box effect-black-fill">
      <a href="/collections/necklaces-charms-chokers/colour-rose-gold"><img src="https://cdn.shopify.com/s/files/1/0653/1555/files/rose-gold-necklaces.jpg?6216955805418008078" alt="Rose Gold Necklaces" />
        <div class="mjbtitle">
          <div class="inner">
            <h1>Rose Gold<span aria-hidden="true" class="glyph slider-right"></span></h1>
          </div>
        </div>
      </a>
    </figure>
  </div>

  <div class="columns large-3">
    <figure class="image-text-widget box effect-black-fill">
      <a href="/collections/necklaces-charms-chokers"><img src="https://cdn.shopify.com/s/files/1/0653/1555/files/beaded-necklaces.jpg?6676983063401372884" alt="Beaded Necklaces" />
        <div class="mjbtitle">
          <div class="inner">
            <h1>Beaded<span aria-hidden="true" class="glyph slider-right"></span></h1>
          </div>
        </div>
      </a>
    </figure>
  </div>
</div>

 <div class="newsletter-promo">
  <div class="full-width row large-12">
    <h2><strong>10% off</strong> your first order</h2>
    <p>Already tempted by something you've seen? Sign-up to our newsletter and get 10% off your first order.</p>
    <a class="button" href="/pages/newsletter-sign-up" style="margin: 0 0 1.66667em;">get started now</a>
  </div>
</div>

<section class="row">
  <div class="right columns large-12">
    <h2 style="text-align: center;">A few of our favourite things</h2>
    <div class="product-grid clearfix">
      <div class="product-item columns large-2">
        <div class="image-wrapper">
          <a href="/collections/necklaces-charms-chokers/products/grey-aimee-necklace">
            <div class="reveal box">
              <img src="http://cdn.shopify.com/s/files/1/0653/1555/products/SS15-K68-grey-chalcedony_medium.jpg?v=1436209866" alt="Grey Aimee Necklace" />
            </div>
          </a>
        </div><!-- .coll-image-wrap -->
        <div class="caption">
          <p class="title"><a href="/collections/necklaces-charms-chokers/products/grey-aimee-necklace">Grey Aimee Necklace</a></p>
          <p class="price">£42.00</p>
        </div>
      </div>

      <div class="product-item columns large-2">
        <div class="image-wrapper">
          <a href="/collections/necklaces-charms-chokers/products/cream-talya-necklace">
            <div class="reveal box">
              <img src="http://cdn.shopify.com/s/files/1/0653/1555/products/tayla-cream-multicolour-necklace_medium.png?v=1436209876" alt="Pistachio Talya Necklace" />
            </div>
          </a>
        </div><!-- .coll-image-wrap -->
        <div class="caption">
          <p class="title"><a href="/collections/necklaces-charms-chokers/products/cream-talya-necklace">Pistachio Talya Necklace</a></p>
          <p class="price">£20.00</p>
        </div>
      </div>

      <div class="product-item columns large-2">
        <div class="image-wrapper">
          <a href="/collections/necklaces-charms-chokers/products/fern-gold-coin-necklace">
            <div class="reveal box">
              <img src="http://cdn.shopify.com/s/files/1/0653/1555/products/Fern---Gold-coin-necklace_medium.png?v=1434952535" alt="Fern Gold Coin Necklace" />
            </div>
          </a>
        </div><!-- .coll-image-wrap -->
        <div class="caption">
          <p class="title"><a href="/collections/necklaces-charms-chokers/products/fern-gold-coin-necklace">Fern Gold Coin Necklace</a></p>
          <p class="price">£15.00</p>
        </div>
      </div>

      <div class="product-item columns large-2">
        <div class="image-wrapper">
          <a href="/collections/necklaces-charms-chokers/products/jenn-silver-necklace">
            <div class="reveal box">
              <img src="http://cdn.shopify.com/s/files/1/0653/1555/products/Product_Miss-Lesley--name060_medium.jpg?v=1438718412" alt="Jenn Silver Necklace" />
            </div>
          </a>
        </div><!-- .coll-image-wrap -->
        <div class="caption">
          <p class="title"><a href="/collections/necklaces-charms-chokers/products/sofia-rose-gold-necklace">Jenn Silver Necklace</a></p>
          <p class="price">£30.00</p>
        </div>
      </div>

      <div class="product-item columns large-2">
        <div class="image-wrapper">
          <a href="/collections/necklaces-charms-chokers/products/rose-gold-crystal-peace-necklace">
            <div class="reveal box">
              <img src="http://cdn.shopify.com/s/files/1/0653/1555/products/Peace-Necklace-Close-Rose-Gold_medium.jpg?v=1447271627" alt="Rose Gold Crystal Peace Necklace" />
            </div>
          </a>
        </div><!-- .coll-image-wrap -->
        <div class="caption">
          <p class="title"><a href="/collections/necklaces-charms-chokers/products/rose-gold-crystal-peace-necklace">Rose Gold Crystal Peace Necklace</a></p>
          <p class="price">£25.00</p>
        </div>
      </div>

      <div class="product-item columns large-2">
        <div class="image-wrapper">
          <a href="/collections/necklaces-charms-chokers/products/victoria-statement-necklace">
            <div class="reveal box">
              <img src="http://cdn.shopify.com/s/files/1/0653/1555/products/victoria-necklace_medium.png?v=1436209884" alt="Victoria Statement Necklace" />
            </div>
          </a>
        </div><!-- .coll-image-wrap -->
        <div class="caption">
          <p class="title"><a href="/collections/necklaces-charms-chokers/products/jenn-silver-necklace">Victoria Statement Necklace</a></p>
          <p class="price">£24.99</p>
        </div>
      </div>

    </div>        
  </div>
</section>


<div class="full-width">
  <div class="large-12" style="background-color: #000; color: #fff; padding: 60px 40px; text-align: center; text-transform: uppercase; font-size: 1.7em;">
    <div class="large-2" style="margin: 0 auto 20px;">
      <img src="https://cdn.shopify.com/s/files/1/0730/5135/files/christmas-gifts.png?3774962769430599599">
    </div>
    <p>Searching for the perfect present? <br />We've got Christmas gifts, all wrapped up at LVBT</p>
    <a class="button" href="/blogs/news/78177542-christmas-gifts-are-all-wrapped-up-at-lvbt" style="background-color: #ef3340; font-size: 0.6em;">Read the LVBT Christmas guide</a>
  </div>
</div>

<div class="rte-content colored-links">
  {{ page.content }}
</div>